@charset "utf-8";
/*

Hover resource: http://stackoverflow.com/questions/5061940/changing-the-child-elements-css-when-the-parent-is-hovered-with-jquery
Transition resource: http://stackoverflow.com/questions/13968486/move-div-with-css-transition
Keyframes animations: http://stackoverflow.com/questions/15485694/auto-scrolling-with-css/15486040#15486040
calc: https://developer.mozilla.org/en-US/docs/Web/CSS/calc
*/

body {
    background-color:#FCC;
}

html,body {
    height:100%;
}

hr {
	visibility:hidden;
}
/* 

Universal styles for labels, e.g. "email", "phone number". 
And other universal styles.
*/

#tabs-menu {
	text-align: center;	
}
#tab-contacts, #tab-groups, #tab-history, #tab-myprofile{
	display: inline;
}
.tab {
	background-color:#C03;	
	border: none;
	padding: 2px 4px 2px 4px;
	margin-bottom: -18px;
	font-family: "Arial", Times, sans-serif;
	font-size: 12pt;
	color:#FFF;
	cursor:pointer;
}

.tab.selected {
	background-color:#FF4891;
}
.tab:hover, .tab.hover {
	background-color:#F60;
}
/* NOTE: You need to specifiy a width for the elements using this class.*/
.label-emailaddress, .label-phonenumber, .label-homeaddress, .label-workaddress, .label-birthdate {
	text-align:right;
}

.clickable {
	cursor:pointer;  /* makes cursor indicate clickability */
	z-index: 1;
}


/* 

Contact List 

*/
#contact-panel {
	background-color:#FF4891;
	top: 50px;
	bottom: 10px;
	width: 100%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
	//min-height: 92vh;
	margin: 0 auto;
	overflow: hidden;
}
.contact-panel-inactive {
	display: none;	
}
#contact-panel-addbutton {
	float: right;
}
#contact-panel-label {
	font: 25px arial, sans-serif;
}
#contact-list-container {
	padding: 0px 0px 0px 0px;
	overflow-y: scroll;
	width: 100%;
	height: 87%;
}

.contact-panel-thin #contact-list-container{
	position: relative;
	top: 25px;
}
.contact-list{
	/* [disabled]margin: 0px; */
	padding: 0px;
	list-style-type: none;
	display: block;
}

.contact-list-category-label {
	display: block;	
	clear: both; 
	float: left; 
	display: block; 
	position: relative;
}





/* 

Contact items in list mode. 

*/

.contact-item {
	position: relative;  /* Allows the contact's contents to be absolutely positioned relative to this. */
	margin: 1px 0px 1px 0px;
	background-color:#FCF;
	height: 80px;
}
/*
.contact-item-image-container {
	width: 80px;
	height: 80px;
	overflow:hidden;
	position:absolute;
	left: 0px;
	top: 0px;
}
.contact-item-image {
	width: 80px;
	height: 80px;	
}

.contact-item-label-container {
	position: absolute;
	left: 90px;
	top: 5px;
	
}
.contact-item-name {
	font: 20px arial, sans-serif;
}

.contact-item-phonenumber-container {
	position:absolute;
	left: 100px;
	top: 30px;
	display: inline-block;
}
.contact-item-emailaddress-container {
	position:absolute;
	left: 100px;
	top: 45px;
	display: inline-block;
	z-index: 2;
}
.contact-item-phonenumber {
	display: inline-block;
}
.contact-item-emailaddress {
	display: inline-block;
	z-index: 2;
}
.contact-item-phonenumber-label, .contact-item-emailaddress-label {
	margin: 0px 5px 0px;
	padding: 0px;
	font: bold 12px arial, sans-serif;
	display: inline-block;
	color: #666;
	width: 40px;
	overflow:visible;
}
.contact-item-view-on-click {
	position: absolute;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;
}
*/

/*

Contact items in thin list mode.

*/

.contact-panel-thin {
	width: 240px !important;
	margin: 0 !important;
}
.contact-panel-thin #contact-panel-addbutton {
	//display:none !important;
}

.contact-panel-thin .contact-item-grid {
	position: relative;  /* Allows the contact's contents to be absolutely positioned relative to this. */
	margin: 1px 0px 1px 0px;
	background-color:#FC9;
	height: 60px;
	width: 100%;
}

.contact-panel-thin .contact-item-grid-image-container {
	width: 80px;
	height: 60px;
	overflow:hidden;
	position:absolute;
	padding: -10px 0 0 0;
	left: 0px;
	top: 0px;
}
.contact-panel-thin .contact-item-grid-image {
	width: 80px;
	height: 80px;	
}

.contact-panel-thin .contact-item-grid-label-container {
	padding: 1px 2px 1px 3px;
	position: absolute;
	top: 23px;
	left: 80px;
	background-color:transparent;
	white-space:nowrap;
}
.contact-panel-thin .contact-item-grid-name {
	font: 20px arial, sans-serif;
}

.contact-panel-thin .contact-item-grid-phonenumber-container {
	position:absolute;
	left: 80px;
	top: 60px;
	display: inline-block;
	z-index: 0;    /* makes call button NOT clickable. */
}
.contact-panel-thin .contact-item-grid-emailaddress-container {
	position:absolute;
	left: 80px;
	top: 70px;
	display: inline-block;
	z-index: 0;    /* makes email address NOT clickable. */
	/* z-index: 2; */
	width:100%;
}
.contact-panel-thin .contact-item-grid-phonenumber {
	display: inline-block;
}
.contact-panel-thin .contact-item-grid-emailaddress {
	display: inline-block;
	z-index: 0;    /* makes email address NOT clickable. */
	/* z-index: 2; */
}
.contact-panel-thin .contact-item-grid-phonenumber-label, .contact-panel-thin .contact-item-grid-emailaddress-label {
	
	font: bold 12px arial, sans-serif;
	display: inline-block;
	color: #666;
	width: 20px;
	overflow:visible;
}
.contact-panel-thin .contact-item-grid-view-on-click {
	position: absolute;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;  /* makes cursor indicate clickability */
}

.contact-panel-thin .contact-item-grid:hover .contact-item-grid-label-container, 
.contact-panel-thin .contact-item-grid.hover .contact-item-grid-label-container {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 80px;
	top: 0px;
	text-overflow:crop;
	overflow:hidden;
	background-color:#F99;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.contact-panel-thin .contact-item-grid:hover .contact-item-grid-phonenumber-container, 
.contact-panel-thin .contact-item-grid.hover .contact-item-grid-phonenumber-container {
	top: 22px;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.contact-panel-thin .contact-item-grid:hover .contact-item-grid-emailaddress-container, 
.contact-panel-thin .contact-item-grid.hover .contact-item-grid-emailaddress-container {
	top: 38px;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}


/* 

Contact items in grid mode.

*/
/* The contact item in grid mode. Note: this is NOT the grid itself.*/
.contact-item-grid {
	position: relative;  /* Allows the contact's contents to be absolutely positioned relative to this. */
	margin: 2px;
	background-color:#FCF;
	height: 200px;
	width: 180px;
	float: left;
	overflow: hidden;
}
.contact-item-selected {
	background-color:#C06 !important;
}

.contact-item-grid-image-container {
	width: 180px;
	height: 180px;
	overflow:hidden;
	position:absolute;
	left: 0px;
	top: 0px;
}
.contact-item-grid-image {
	width: 180px;
	height: 180px;	
}

.contact-item-grid-label-container {
	position: absolute;
	width: 100%;
	height: 30px;
	left: 0px;
	top: 170px;
	padding: 2px 0 2px 3px;
	margin: 0;
	background-color:#F99;
	white-space:nowrap;
}

.contact-item-grid:hover .contact-item-grid-label-container, .contact-item-grid.hover .contact-item-grid-label-container {
	/* [disabled]position: absolute; */
	width: 100%;
	height: 70px;
	left: 0px;
	top: 130px;
	background-color: #F99;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.contact-item-grid-name {
	font: 20px arial, sans-serif;
	text-overflow: ellipsis;
	overflow:hidden;
	display:inherit;
}

/* Slide the contact name if it exceeds label container width.*/
.contact-item-grid:hover .contact-item-grid-name, .contact-item-grid.hover .contact-item-grid-name {
	display: inline-block;
	//overflow: visible;
	//text-overflow: initial;
	animation: slide infinite 7s normal;
	-webkit-animation: slide infinite 7s normal;
}
@keyframes slide {
  0% {
    margin-left: 0px;
  }
  15% {
	  margin-left: 0px;
  }
  100% {
    margin-left: -100%; /*calc(180px - 100%);*/
  }
}
@-webkit-keyframes slide {
  0% {
    margin-left: 0px;
  }
  15% {
	  margin-left: 0px;
  }
  100% {
    margin-left: -100%; /*calc(180px - 100%);*/
  }
}

.contact-item-grid-phonenumber-container {
	position:absolute;
	left: 0px;
	top: 200px;
	display: inline-block;
	//width: 100%;
	z-index: 2;  /* makes call button clickable. */
}
.contact-item-grid-emailaddress-container {
	position:absolute;
	left: 0px;
	top: 225px;
	display: inline-block;
	z-index: 2;  /* makes email address clickable. */
}
.contact-item-grid:hover .contact-item-grid-phonenumber-container, .contact-item-grid.hover .contact-item-grid-phonenumber-container {
	top: 155px;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.contact-item-grid:hover .contact-item-grid-emailaddress-container, .contact-item-grid.hover .contact-item-grid-emailaddress-container {
	top: 175px;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}
.contact-item-grid-phonenumber {
	display: inline-block;
}
.contact-item-grid-emailaddress {
	display: inline-block;
}
.contact-item-grid-phonenumber-label, .contact-item-grid-emailaddress-label {
	margin: 0px 5px 0px;
	padding: 0px;
	border: 0px;
	font: bold 12px arial, sans-serif;
	display: inline-block;
	color: #666;
	width: 20px;
	overflow:visible;
}
.contact-item-grid-view-on-click {
	position: relative;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;  /* makes cursor indicate clickability */
}


/* 

Contact View - view the contact info.

*/
#contact-viewer {
	position: absolute;
	top: 0;
	left: 240px;
	background-color:#FC3;
	width: 75%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
}

#contact-view-delete{
	position:relative;
    top:2px;
}

.contact-viewer-inactive {
	display: none;	
}

.contact-view-image-container {
	width: 256px;
	height: 256px;
	overflow:hidden;
	position:absolute;
	left: 4px;
	top: 4px;
}
.contact-view-image {
	width: 256px;
	height: 256px;	
}

.contact-view-name {
	position: absolute;
	left: 280px;
	top: 15px;
	font: 40px arial, sans-serif;
}


.contact-view-phonenumber-container {
	position:absolute;
	left: 300px;
	top: 65px;
	display: inline-block;
}
.contact-view-emailaddress-container {
	position:absolute;
	left: 300px;
	top: 90px;
	display: inline-block;
}
.contact-view-birthdate-container {
	position:absolute;
	left: 300px;
	top: 120px;
	display: inline-block;
}
.contact-view-workaddress-container {
	position:absolute;
	left: 300px;
	top: 150px;
	display: inline-block;
}
.contact-view-homeaddress-container {
	position:absolute;
	left: 300px;
	top: 180px;
	display: inline-block;
}
.contact-view-phonenumber {
	display: inline-block;
	font: 20px arial, sans-serif;
}
.contact-view-emailaddress {
	display: inline-block;
	font: 20px arial, sans-serif;
}

.contact-view-homeaddress, .contact-view-workaddress, .contact-view-birthdate  {
	display: inline-block;
	font: 20px arial, sans-serif;
}

.contact-view-phonenumber-label, .contact-view-emailaddress-label, .contact-view-birthdate-label, .contact-view-homeaddress-label, .contact-view-workaddress-label {
	padding-right: 5px;
	padding-left: 0;
	font: bold 12px arial, sans-serif;
	display: inline-block;
	color: #666;
	width: 40px;  /* required for the right-alignment to work. */
	overflow:visible;
}


#contact-view-group-container {
	position: relative;  /* Allows the contents to be absolutely positioned relative to this. */
	top: 210px;
	left: 300px;
	background-color:#FF9;
	width: 270px;
	height: 160px;
}

.contact-view-group-item {
	position: relative;  /* Allows the contents to be absolutely positioned relative to this. */
	margin: 2px;
	background-color:#FCF;
	height: 128px;
	width: 128px;
	float: left;
	overflow: hidden;
}
.contact-view-group-item-on-click {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.contact-view-group-item-image {
	width: 128px;
	height: 128px;
}
.contact-view-group-item-image-container {
	position:absolute;
	top:0;
	left:0;	
}
.contact-view-group-item-label-container {
	position: absolute;
	vertical-align: bottom;
	top: 110px;
	left:0px;
	background-color:#FF6;
	width:100%;
	
}

/*

Contact editor.

*/
.contact-editor-inactive {
	display: none;	
}

#contact-editor {
	position: absolute;
	top: 0;
	left: 240px;
	background-color:#FC3;
	width: 75%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
}

#contact-editor .contact-view-phonenumber-container {
	position:absolute;
	left: 300px;
	top: 65px;
	display: inline-block;
}
#contact-editor .contact-view-emailaddress-container {
	position:absolute;
	left: 300px;
	top: 90px;
	display: inline-block;
}
#contact-editor .contact-view-birthdate-container {
	position:absolute;
	left: 300px;
	top: 120px;
	display: inline-block;
}
#contact-editor .contact-view-workaddress-container {
	position:absolute;
	left: 300px;
	top: 150px;
	display: inline-block;
}
#contact-editor .contact-view-homeaddress-container {
	position:absolute;
	left: 300px;
	top: 210px;
	display: inline-block;
}


#contact-edit-button-container {
	position: absolute;
	right: 0px;
	bottom: 0px;	
}
#contact-edit-savebutton {
	background-color:#C39;
}
#contact-edit-cancelbutton {
	background-color:#F6F; 
}
#contact-edit-deletebutton {
	background-color:#F6F; 
}

.contact-edit-image-container {
	width: 256px;
	height: 256px;
	overflow:hidden;
	position:absolute;
	left: 4px;
	top: 4px;
}

#contact-edit-group-container {
	position: relative;
	top: 270px;
	left: 300px;
	background-color:#FF9;
	width: 310px;
	height: 160px;
}


.contact-edit-group-item {
	position: relative;  /* Allows the contents to be absolutely positioned relative to this. */
	margin: 2px;
	background-color:#FCF;
	height: 128px;
	width: 128px;
	float: left;
	overflow: hidden;
}
.contact-edit-group-item-on-click {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.contact-edit-group-item-image {
	width: 128px;
	height: 128px;
}
.contact-edit-group-item-image-container {
	position:absolute;
	top:0;
	left:0;	
}
.contact-edit-group-remove-label {
	display: none;
	width: 128px;
	height: 128px;
	z-index: 1;
}
/* Show label for indicating removing group. */
.contact-edit-group-item:hover .contact-edit-group-remove-label, 
.contact-edit-group-item.hover .contact-edit-group-remove-label {
	display: initial !important; 
}

.contact-edit-group-item-label-container {
	position: absolute;
	vertical-align: bottom;
	top: 110px;
	left:0px;
}


/* Add Contact */
.contact-adder-inactive {
	display: none;	
}

#contact-adder {
	position: absolute;
	top: 0;
	left: 0;
	background-color:#FC3;
	width: 100%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
	z-index: 3;  /* puts it higher than the contact list email addresses. */
}
#contact-add-name-container {
	position: absolute;
	left: 280px;
	top: 5px;
}
.contact-add-name-textfield {
	line-height: 25px;	
}
.contact-add-image-container {
	width: 256px;
	height: 256px;
	overflow:hidden;
	position:absolute;
	left: 340px;
	top: 4px;
}
#contact-add-button-container {
	position: absolute;
	right: 0px;
	bottom: 0px;	
}

.contact-add-phonenumber-container {
	position:absolute;
	left: 300px;
	top: 65px;
	display: inline-block;
}
.contact-add-emailaddress-container {
	position:absolute;
	left: 300px;
	top: 90px;
	display: inline-block;
}
.contact-add-phonenumber {
	display: inline-block;
	font: 20px arial, sans-serif;
}
.contact-add-emailaddress {
	display: inline-block;
	font: 20px arial, sans-serif;
}
.contact-add-phonenumber-label, .contact-add-emailaddress-label {
	padding-right: 5px;
	font: bold 12px arial, sans-serif;
	display: inline-block;
	color: #666;
	width: 40px;
	overflow:visible;
}

.contact-add-photo-edit-label {
	display: none;
}

.contact-add-image-container:hover .contact-add-photo-edit-label, 
.contact-add-image-container.hover .contact-add-photo-edit-label {
	display: initial !important; 
}


/*
Group List
*/
#group-panel-label {
	font: 25px arial, sans-serif;
}
#group-list {
	background-color:#FF4891;
	top: 50px;
	bottom: 10px;
	width: 100%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
	margin: 0 auto;
	overflow: hidden;
}
#group-list-container, #group-view-contact-list-container, #group-edit-contact-list-container {
	padding: 0px 0px 0px 0px;
	overflow-y: scroll;
	width: 100%;
	height: 92%;
	margin: 0 auto;  /* centers the container. */
}
#group-edit-contact-list-container {
	position:absolute;
	top:10px;
	left:440px;
	width:200px;
	background-color:#FF6;
}
#group-list, #group-viewer, #group-editor{
	/*
	min-width:800px;
	max-width:100%;
	width: auto;
	*/
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	margin: 0 auto;  /* centers the container. */
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
}
#group-list-container {
	padding: 0px 0px 0px 0px;
	overflow-y: scroll;
	width: 100%;
	height: 92%;
}
.group-list{
	/* [disabled]margin: 0px; */
	padding: 0px;
	list-style-type: none;
	display: block;
}

/* 
Thin group list.
*/
.group-list-thin {
	width: 20% !important;
	margin: 0 !important;
}

.group-list-thin .contact-item-grid {
	position: relative;  /* Allows the contact's contents to be absolutely positioned relative to this. */
	margin: 1px 0px 1px 0px;
	background-color:#FC9;
	height: 60px;
	width: 100%;
}

.group-list-thin .contact-item-grid-image-container {
	width: 80px;
	height: 60px;
	overflow:hidden;
	position:absolute;
	padding: -10px 0 0 0;
	left: 0px;
	top: 0px;
}
.group-list-thin .contact-item-grid-image {
	width: 80px;
	height: 80px;	
}

.group-list-thin .contact-item-grid-label-container {
	padding: 1px 2px 1px 3px;
	position: absolute;
	top: 23px;
	left: 80px;
	background-color:transparent;
	white-space:nowrap;
}
.group-list-thin .contact-item-grid-name {
	font: 20px arial, sans-serif;
}


.group-list-thin .contact-item-grid-view-on-click {
	position: absolute;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;  /* makes cursor indicate clickability */
}

.group-list-thin .contact-item-grid:hover .contact-item-grid-label-container, 
.group-list-thin .contact-item-grid.hover .contact-item-grid-label-container {
	position: absolute;
	width: 100%;
	height: 70px;
	left: 80px;
	top: 0px;
	text-overflow:crop;
	overflow:hidden;
	background-color:#F99;
}


/* 
Group View
*/
#group-viewer {
	position: absolute;
	top: 0;
	left: 20%;
	width: 80%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
	background-color:#FF9;
}
.group-view {
	position:absolute;
	top:30px;
	left:0px;
}
.group-view-image {
	width:100%;
	height:100%;
}
.group-view-image-container, .group-view{
	z-index:0;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#group-view-contact-list-container {
	position:absolute;
	top:30px;
	left:0px;
	background-color:rgba(255,255,255,0.5);
}

#group-view-button-container {
	position:absolute;
	right:0;
	top:0;
}
#group-view-delete {
	//position:absolute;
	//top:0px;
	//left:140px;
	position: relative;
	top: 2px;
}
#group-view-editbutton {
	//position:absolute;
	//top:0px;
	//left:280px;
}
.group-view-name {
	padding:0;
	margin:0;
	position:absolute;
	top:0px;
	left:0px;
	color:#FFF;
}
.group-view-name h2{
	padding:0;
	margin:0;
}
.group-item-on-click {
	position: relative;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;
}


/* Group edit */
#group-editor {
	background-color:#F96;	
	position: absolute;
	top: 0;
	left: 20%;
	width: 80%;
	height: -moz-calc(100% - 170px);
    height: -webkit-calc(100% - 170px);
    height: calc(100% - 170px);
}
.group-edit-image-container {
	width: 400px;
	height: 256px;
	overflow:hidden;
}
.group-edit-image {
	height: 256px;
}
/* Show label for indicating changing group photo. */
.group-edit-image-container:hover .contact-add-photo-edit-label, 
.group-edit-image-container.hover .contact-add-photo-edit-label {
	width:100%;
	height: 100%;
	display: initial !important; 
}


.group-edit-contact-item-on-click {
	position: relative;
	left: 0px;
	top: 0px;
    display: block;
    height: 100%;
    width: 100%;
	z-index: 1;
	cursor:pointer;  /* makes cursor indicate clickability */
}

.group-edit-contact-remove-label {
	position:absolute;
	top:0px;
	left:0px;
    display: none;
    width: 180px !important;
    height: 180px !important;
    z-index: 1;
}
.group-edit-contact-image-container {
	width: 180px;
	height: 180px;
	overflow:hidden;
	position:absolute;
	left: 0px;
	top: 0px;
}
.group-edit-contact-image, group-edit-contact-remove-label {
	width: 180px;
	height: 180px;	
}

/* Show label for indicating removing contact. */
.group-edit-contact-item-on-click:hover .group-edit-contact-remove-label, 
.group-edit-contact-item-on-click.hover .group-edit-contact-remove-label {
	width:100%;
	height: 100%;
	display: initial !important; 
}
.contact-item-grid:hover .group-edit-contact-remove-label, 
.contact-item-grid.hover .group-edit-contact-remove-label {
	width:100%;
	height: 100%;
	display: initial !important; 
	z-index:0;
}

/* Groups Inactive */
.group-list-inactive, .group-viewer-inactive, .group-editor-inactive {
	display: none !important;	
}


/*
Misc.
*/
#contact-search-form {
	position:absolute;
	left:45%;	
}

.contact-panel-thin #contact-search-form {
	top:26px;
	left:25px !important;	
}
#contact-search-submit {
	padding:0;
	border:thin;
	position:relative;
    top:5px;
}
.search-icon {
	width: 20px;
	height: 20px;
	cursor:pointer;
}

.contact-action-icon{
	width: 20px;
	height: 20px;
	cursor:pointer;
	margin-bottom:-5px;
}
.contact-panel-thin .contact-action-icon{
	width: 15px;
	height: 15px;
	cursor: none;
}

#contact-panel-addbutton {
	padding:0px;
	border:none;
	background-color:rgba(255,255,255,0.5);
	margin:1px;
}
.contact-action-icon2{
	width: 35px;
	height: 35px;
	cursor:pointer;
	//margin-bottom:-5px;
}
.contact-panel-thin .contact-action-icon2{
	width: 25px;
	height: 25px;
}

.contact-panel-add-label {
	padding:0;
	margin:0;
	display:inline;
	//vertical-align:middle;
}
.contact-panel-thin .contact-panel-add-label {
	padding:0;
	margin:0;
	display:none !important;
}

.contact-view-phonenumber-container .contact-action-icon,
.contact-view-emailaddress-container .contact-action-icon {
	cursor:pointer;
	position:absolute;
	left:220px;
}

.viewer-action-icon {
	width: 15px;
	height: 15px;
	cursor:pointer;
}

.contact-view-actions-container {
	float:right;
}


#group-edit-button-container {
	position: absolute;
	right: 0px;
	bottom: 0px;	
}
#group-edit-savebutton {
	background-color:#C39;
}
#group-edit-cancelbutton {
	background-color:#F6F; 
}
#group-edit-deletebutton {
	background-color:#F6F; 
}